@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #37B7C3;
}

::-webkit-scrollbar-thumb {
  background-color: #071952;
}
